.MainPage {
    width: 100%;

    &__header {
        width: 100;
        text-align: center;
        padding: 30px;
        font-size: 35px;
    }

    &__brands {
        width: 50%;
        margin: auto;
        font-size: 23px;

        &__brand {
            margin: 15px;
            &__cursor {
                cursor: pointer;
                display: inline;
            }
        }
    }
}